

/* .tables {
    border-collapse: collapse;
    border-color: red;
} */

body {
    color: black;
}

/* セル内の文字の周りに幅をもたせ,中央寄せ */
table th,
table td {
    padding: 8px;
    text-align: center;
}

.kara {
    background-image: linear-gradient(to top right, transparent, transparent 49.5%, black 49.5%, black 50.5%, transparent 50.5%, transparent);
}

/* タイトルの色 */
table th {
    background-color: #6f7dff;
}

/* 表のセルごとのborder */
table,
table th,
table td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 50vw;
    font-size: 30px;
    font-family: "游ゴシック体"
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgb(240, 240, 240);
    padding-top: 20vh;
    padding-bottom: 10vh;
    min-height: 100vh;margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgb(240, 240, 240);
    padding-top: 20vh;
    padding-bottom: 10vh;
    min-height: 100vh;
    margin-top: 0px;
}


.Maincontainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1180px) {
	/* 959px以下に適用されるCSS（デカめのタブレット用） */
    main {
        margin-left: 7vw;
        padding-top: 20vh;
        margin-right: 7vw;
    }
    table {
        font-size: 25px;
        width: 80vw;
    }
}


@media screen and (max-width: 710px) {
	/* 710px以下に適用されるCSS（タブレット用） */
    main {
        margin-left: 5vw;
        padding-top: 18vh;
        margin-right: 5vw;
    }
}

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    table {
        font-size: 18px;
        width: 85vw;
    }
}