
/*これは基本的なやつではない。*/
.langes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .spaced {
    align-items: normal;
    margin-bottom: 0;
    margin-left: 20px;
}

#itemList li {
    display: list-item; /* Ensure the items are displayed correctly */

}
.searchResult {
    display: none;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.searchResult.show {
    display: block;
}




@media screen and (max-width: 1180px) {
	/* 959px以下に適用されるCSS（デカめのタブレット用） */
    #itemList li a {
        width: 70vw;
    }
    
    #itemList li a {
        font-size: 20px;
    }
    
    #itemList {
        min-height: 100vh;
    }
    
    .gengo {
        font-size:30px;
        height: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .lang {
        display: none;
    }
    .time li a:hover {
        background-color: black;
        color: white;
    }
    .langes {
        display: block;
    }
    .spaced {
        display: none;
    }
    .time li a {
        font-size: 60px;
        padding: 0px 5px 0px;
    }
    .left {
        flex: 2.2;
    }
    .right {
        flex: 7.8;
        margin-right: 10px;
    }
    /* .lang-en .fot .na {
        font-size: 30px;
        padding: 20px;
        margin-bottom: 0;
    } よくわからないやつだからコメントアウトした。いらないなら消してください。*/
}
@media screen and (max-width: 710px) {
	/* 710px以下に適用されるCSS（タブレット用） */
    /*.sp {
        display: block;
    }*/
    main {
        margin-left: 5vw;
        padding-top: 18vh;
        margin-right: 5vw;
    }
    .icons {
        margin-left: 15px;
    }
    .menu-content {
        width: 70%;
        
    } 
    #menu-btn-check:checked ~ .menu-content {
        left: 30%;/*メニューを画面内へ*/
    }
    .menu-content {
        width: 70%;
        
    } 
    #itemList li a {
        font-size: 16px;
    }
    
    #menu-btn-check:checked ~ .menu-content {
        left: 30%;/*メニューを画面内へ*/
    }
    .time li a {
        font-size: 40px;
        padding: 0px 5px 0px;
    }
    
    
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    /*.sp {
        display: block;
    }*/
    .ja {
        font-size: 25px;
    }
    
    .icons {
        display: none;
    }
    .cont {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .menu-content {
        width: 100%;
        
    } 
    .menu {
        font-size: 40px;
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
    .spaced {
        display: none;
    }
    .HeaderItems .container .Name .n {
        font-size: 30px;
        margin-left: 10px;
    }
    .left {
        flex: 2.8;
    }
    .time li a {
        font-size: 40px;
        padding: 0px 5px 0px;
    }
    .right {
        flex: 7.2;
        margin-right: 10px;
    }
    .fot .na {
        border: none;
    }
    
}

