body {
    background-color: white;
    font-family:'serif','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0; 
    /* padding-top: 20vh; */
    margin: 0 auto; /*マージンの幅を管理*/
    color: white;
}

.busStopName {
    height: 5vh;
    text-align: center;
    color: black;
}


a {
    /* display: block; */
    border: none;
    text-decoration: none;
    color: black;
}

ul {
    padding-left: 0;
}
li {

    list-style: none;
    text-align: center;
}
.langes {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.container .spaced {
    align-items: normal;
    margin-bottom: 0;
    margin-left: 20px;
}

/*ここからmainの記述*/

main {
    /* height: 100vh; */
    margin-top: 15vh;
    background-color: white;
}
.MainContainer {
    display: flex;
    width: 100%;
    height: 95vh; /* 必要に応じて高さを調整 */
    font-family: "メイリオ";
}
/* 左側の設定 */
.left {
    flex: 3; /* 割合をかけ */
    background-color: white;
    height: 100%;
    overflow-y: auto; /* 垂直方向にスクロール可能にする */
}
.left::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}/*スクロールバーを見えなくする*/
/* 右側の設定 */
.right {
    margin-top: 20px;
    margin-right: 20px;
    flex: 7; /* 割合をかけ */
    height: 100%;
}
.right img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border: 5px solid black;
}

/*これは消してください*/
.right p {
    font-size: 30px;
}

.youbi {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    height: 40px;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    margin-right:auto;
    margin-left: auto;
}

.time {
    padding-left: 0;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-right: 20px;
    margin-left: 20px;

}
.time li {
    margin-bottom: 20px;
}
.time li a {
    color: white;
    font-size: 60px;
    width: 100%;
    border: 3px solid black;
    transition: all 1s 0s ease;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    
}
/* .time li a:hover {
    background-color: rgb(195, 195, 195);
    color: black;
} */
.place {
    text-align: center;
    font-size: 70px;
}

.forjikoku {
    /* display: flex; */
    width: 10%;
}

.hei {
    display: flex;
}

.kyu {
    display: none;
}


.yukisaki {
	display: inline-block;
	flex: 5;
    font-size: 18px;
    margin: auto; 
    font-weight: bold;
}

.jikoku {
	flex: 4.5;
}

.line {
    font-size: 20px;
    margin: 0px;
}

/* 路線ごとの色を指定 */
.ichihira {
    color: rgb(255, 255, 0);
}

.tsukiichi {
    color:rgb(255, 132, 0);
}

/*ここからfooterの記述*/
footer {
    border-top: 1px solid white;
    padding-top: 20px;
    background-color: black;
    padding-bottom: 10px;
}
footer p {
    color: white;
    margin-top: 40px;
    text-align: center;
}
.FootName {
    text-align: center;
}
.cont {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FootName {
    font-size: 40px;
}
.options {
    width: 220px;
    font-size: 25px;
    text-align: center;
    transition: 0.2s;
    border: none;
}
.FootName a {
    display: inline;
    /* border-bottom: 2px solid white; */
    transition: all 1s 0s ease-in;
    text-shadow:1px 1px 0 white, -1px -1px 0 white,
              -1px 1px 0 white, 1px -1px 0 white,
              0px 1px 0  white,  0-1px 0 white,
              -1px 0 0 white, 1px 0 0 white;
    color: black;
}
/* .FootName a:hover {
    border-bottom: 1px solid white;
    color: white;
    text-shadow: none;
} */
.fot .na {

    color: white;
    transition: all 0.5s 0s ease;
}
/* .fot .na:hover {
    border-bottom: 1px solid white;
} */







@media screen and (max-width: 1180px) {
	/* 959px以下に適用されるCSS（デカめのタブレット用） */
    .icons {
        width: 65px;
        height: 65px;
        margin-right: 0;
    }
    
    .HeaderItems .container .Name .n:hover {
        text-shadow:1px 1px 0 white, -1px -1px 0 white,
                  -1px 1px 0 white, 1px -1px 0 white,
                  0px 1px 0  white,  0-1px 0 white,
                  -1px 0 0 white, 1px 0 0 white;
        color: black;
        font-size: 50px;
        margin: 0 auto;
        /* border-bottom: 1px solid white; */
        transition: all 0.5s 0s ease;
    }
    .menu-btn:hover {
        background-color: rgb(49, 49, 49);
    }
    .Name {
        font-size: 30px;
    }
    .menu-content .MENU {
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .gengo {
        font-size:30px;
        height: 30px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .lang {
        display: none;
    }
    .menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 5px;
        right: 0px;
        width: 65px;
        height: 65px;
    }
    .menu-btn:hover {
        background-color: black;
    }
    /* .time li a:hover {
        background-color: black;
        color: white;
    } */

    main {
        margin-top: 80px;
    }
    .langes {
        display: block;
    }
    .menu-content ul li a {
        font-size: 20px;
    }
    
    .menu-btn {
        border-radius: 50%;
    }
    .cont {
        flex-direction: column;
    }
    .spaced {
        display: none;
    }
    .HeaderItems .container .Name .n {
        font-size: 30px;
        margin-left: 10px;
    }
    .time li a {
        font-size: 60px;
    }
    .left {
        flex: 5;
    }
    .right {
        flex: 5;
        margin-right: 10px;
    }

    .FootName a:hover {
        display: inline;
        /* border-bottom: 2px solid white; */
        transition: all 1s 0s ease-in;
        text-shadow:1px 1px 0 white, -1px -1px 0 white,
                  -1px 1px 0 white, 1px -1px 0 white,
                  0px 1px 0  white,  0-1px 0 white,
                  -1px 0 0 white, 1px 0 0 white;
        color: black;
    }
}
@media screen and (max-width: 710px) {
	/* 710px以下に適用されるCSS（タブレット用） */
    /*.sp {
        display: block;
    }*/
    .icons {
        margin-left: 15px;
    }
    .menu-content {
        width: 70%;
        
    } 
    #menu-btn-check:checked ~ .menu-content {
        left: 30%;/*メニューを画面内へ*/
    }
    .menu-content {
        width: 70%;
        
    } 
    
    #menu-btn-check:checked ~ .menu-content {
        left: 30%;/*メニューを画面内へ*/
    }
    .time li a {
        font-size: 40px;
        padding: 0px 5px 0px;
    }
    .options {
        font-size: 20px;
        width: 150px;
        margin-top: 0;
        margin-bottom: 10px;
        border: none;
        /* border-bottom: 1px solid white; */
    }
    .cont {
        margin-top: 30px;
    }
}


@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    /*.sp {
        display: block;
    }*/

    body {
        display: block;
    }
    
    .MainContainer {
		display: block;
        height: 100%;
     }
     
     main {
		height: 100%;
     }
     
     .right img {
		max-width: 90vw;
      }

    
    .icons {
        display: none;
    }
    .cont {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .menu-content {
        width: 100%;
        
    } 
    .menu {
        font-size: 40px;
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
    .spaced {
        display: none;
    }
    .HeaderItems .container .Name .n {
        font-size: 30px;
        margin-left: 10px;
    }
    
    .left {
        flex: 10;
        overflow: hidden;
        height: auto;
	}
    .time li a {
        font-size: 40px;
        padding: 0px 5px 0px;
    }

    .right {
        margin-right: 10px;
        height: 100%;
	}
    .fot .na {
        border: none;
    }
    .options {
        font-size: 20px;
        width: auto;
        margin-top: 0;
        margin-bottom: 10px;
        border: none;
        /* border-bottom: 1px solid white; */
    }
    .mainAndFooter {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    footer {
		position: sticky;
		/* margin-top: 400px; */
    }
}

