body {
    font-family:'serif','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0; 
    margin: 0 auto; /*マージンの幅を管理*/
    color: white;
}
a {
    border: none;
    text-decoration: none;
    color: black;
}

p,h2,h3 {
    font-family: メイリオ;
}

p {
    padding-bottom: 10px;
}

li {

    list-style: none;
    text-align: center;
}
/*ここからmainの記述*/
main {
    /* margin-top: 150px; */
    margin-left: 15vw;
    margin-right: 15vw;
    color: black;
}

h2 {
    text-align: center;
    text-decoration:underline;
    text-decoration-color: #6f7dff;
}

.welcome {
    font-weight: bold;
    animation: slideIn 1s ease-out;
    background: linear-gradient(transparent 70%, #99a3ff 70%);
    text-align: center;
    
  }

  /* span {
    display:inline-block;
  } */
  
  @keyframes slideIn {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.kinou {
    background: #d5daff88;
    padding: 20px;
    border: 1px solid #99a3ff;
}

.jump {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 200px;
    margin-top: 50px;
    background:#6f7dff;
    padding: 10px;
    border-radius: 20px;
}

