.busStopName {
    display: inline-block;
    text-align: center;
}
#Noriba {
    text-align: center;
}
.MainContainer {
    display: flex;
    width: 100%;
    height: 100%; /* 必要に応じて高さを調整。というのも、ここは動的に決めてないため。新たにセンテンスや写真を作りたいときはここをいじる。同文があると思うが、それらよりここの値を大きくすること */
    font-family: "メイリオ";
    /* margin-bottom: 30px; */
}
/* 左側の設定 */

main {
    height: 100%;
}

.left {
    flex: 3; /* 割合をかけ */
    background-color: rgb(240, 240, 240);
    height: 100%; /* 必要に応じて高さを調整。というのも、ここは動的に決めてないため。新たにセンテンスや写真を作りたいときはここをいじる */
}
.left::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}/*スクロールバーを見えなくする*/
/* 右側の設定 */
.right {
    margin-top: 20px;
    margin-right: 20px;
    flex: 7; /* 割合をかく */
    height: 100%; /* 必要に応じて高さを調整。動的に設定している */
}
.right img {
    width: 100%;
    max-height: 50%;
    object-fit: contain;
}

/*これは消してください.というのもcomming_soonのところです*/
.right p {
    font-size: 30px;
}

.youbi {
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    height: 40px;
    width: 50%;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(194, 194, 194);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    margin-right:auto;
    margin-left: auto;
}
#Box {
    overflow-y: auto; /* 垂直方向にスクロール可能にする */
    height: calc(100vh - 300px);
}
.time {
    padding-left: 0;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-right: 20px;
    margin-left: 20px;
}
.time li {
    margin-bottom: 20px;
}
.time li a {
    color: white;
    font-size: 60px;
    width: 100%;
    border: 3px solid black;
    transition: all 1s 0s ease;
    background-color: rgb(63, 63, 63);
    border-radius: 4px;
    
}
/* .time li a:hover {
    background-color: rgb(195, 195, 195);
    color: black;
} */
.place {
    text-align: center;
    font-size: 70px;
}

.forjikoku {
    /* display: flex; */
    width: 10%;
}

.hei {
    display: flex;
}

.heikyu {
    display: flex;
}

.kyu {
    display: none;
}


.yukisaki {
	display: inline-block;
	flex: 5;
    font-size: 18px;
    margin: auto; 
    font-weight: bold;
}

.jikoku {
	flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    font-size: 20px;
    margin: 0px;
}

/* 路線ごとの色を指定 */
.ichihira {
    color: rgb(255, 255, 0);
}

.tsukiichi {
    color:rgb(255, 132, 0);
}

/* 上り下りの色を指定 */
.nobori{
    flex: 0.3;
    color: #7ACCAD;
    background-color: #7ACCAD;
    margin: 0;
}

.kudari{
    flex: 0.3;
    color: #CC7A99;
    background-color: #CC7A99;
    margin: 0;
}

@media screen and (max-width: 1180px) {
    /* .time li a:hover {
        background-color: black;
        color: white;
    } */
    .time li a {
        font-size: 60px;
    }
    .left {
        flex: 5;
    }
    .right {
        flex: 5;
        margin-right: 10px;
    }
}
@media screen and (max-width: 1010px) {
    main {
        height: auto;
    }
}

@media screen and (max-width: 710px) {
    /*.sp {
        display: block;
    }*/
    .time li a {
        font-size: 40px;
        padding: 0px 5px 0px;
    }
}


@media screen and (max-width: 670px) {
    /*.sp {
        display: block;
    }*/
    .MainContainer {
		display: block;
     }
     
     .right img {
		max-width: 100%;
      }
    .left {
        flex: 10;
        overflow: hidden;
        height: auto;
	}
    .time li a {
        font-size: 40px;
        padding: 0px 5px 0px;
    }

    .right {
        margin-right: 10px;
        height: 100%;
	}

    #Box{
        overflow-y: hidden;
        height: 100%;
    }
}

