p,h2,h3 {
    font-family: メイリオ;
}

p {
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    text-decoration:underline;
    text-decoration-color: #6f7dff;
}

.welcome {
    font-weight: bold;
    animation: slideIn 1s ease-out;
    background: linear-gradient(transparent 70%, #99a3ff 70%);
    text-align: center;
    
  }

  span {
    display:inline-block;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.kinou {
    background: #d5daff88;
    padding: 20px;
    border: 1px solid #99a3ff;
}

.jump {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 250px;
	height: 150px;
	font-size: 30px;
    margin: 50px;
    background:#6f7dff;
    padding: 10px;
    border-radius: 20px;
}

#jumpBox {
    display: flex;
	justify-content: center;
	align-items: center;  
	flex-wrap: wrap;

}

